# Eat Safe, Love

## Notebook Set Up

In [10]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
pprint(db.list_collection_names)

<bound method Database.list_collection_names of Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'uk_food')>

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [9]:
# Find the establishments with a hygiene score of 20
query ={"HygieneScore": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print("Number of establishments with Hygiene Score 20:", count)
# Display the first document in the results using pprint
pprint(establishments.find_one(query))

Number of establishments with Hygiene Score 20: 0
None

In [11]:
# Convert the result to a Pandas DataFrame
results_df = pd.DataFrame(list(establishments.find(query)))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame", len(results_df))
# Display the first 10 rows of the DataFrame
results_df.head()

Number of rows in the DataFrame 0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [13]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {"LocalAuthorityName": "London", "RatingValue": {"$gte": 4}}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print("Number of establishments in London with RatingValue >= 4:", count)
# Display the first document in the results using pprint

pprint(establishments.find_one(query))

Number of establishments in London with RatingValue >= 4: 0
None

In [14]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(list(establishments.find(query)))
# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame", len(result_df))
# Display the first 10 rows of the DataFrame
result_df.head(10)

Number of rows in the DataFrame 0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [16]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = # Penang Flavors Latitude
longitude = # PenenFlavours longitude

query =  {"RatingValue": 5, "latitude": {"$gte":latitude-degree_search,"$lte":latitude + degree_search}}
sort =  [("HygieneScore", 1)]

# Print the results

SyntaxError: invalid syntax (3838961515.py, line 6)

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [19]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [
    {"$match": {"HygieneScore": 0}},
    {"$group":{"_id": "$LocalAuthorityName", "count": {"$sum": 1}}},
    {"$sort": {"count": -1}}
]
# Print the number of documents in the result
result = list(establishments.aggregate(pipeline))
pprint(result)
# Print the first 10 results
result_df = pd.DataFrame(result)

[]

In [20]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(result)

# Display the number of rows in the DataFrame
print("Number of rows in DataFrame", len(results_df))
# Display the first 10 rows of the DataFrame
result_df.head(10)

Number of rows in DataFrame 0

Empty DataFrame
Columns: []
Index: []